{% extends 'base.html.twig' %}

{% block title %}Connexion au Portfolio{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="bg-light py-3 px-3">

                    {% if hasError %}
                        <div class="alert alert-danger">Une erreur est survenue, le nom d'utilisateur ou alors le mot de passe est invalide</div>
                    {% endif %}

                    <div class="register-forms" style="height: 450px; margin-bottom: 50px">

                        <form id="sign-in" name="sign-in" action="{{ path('account_login') }}" method="post">
                            <h1  style="margin-top: 20px" class="register-form-title">Connexion</h1>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" name="_username" id="email" class="form-control" placeholder="Adresse email..." required value="{{ username }}">
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <input type="password" name="_password" id="password" placeholder="Mot de passe..." class="form-control" required>
                            </div>
                            <div class="register-form-submit">
                                {# TODO ROOT LOGIN#}
                                <button style="margin-top: 10px" class="btn btn-theme btn-small" type="submit">Connexion</button>
                                <a href="{{ path('home') }}" style="margin-top: 10px" class="btn btn-theme btn-small" type="submit">Portfolio</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}
