<div class="bs-example">
    <h4><a href="#modalAddExperience" data-toggle="modal" style="text-align: right"><i class="fas fa-plus"  ></i></a></h4>
</div>

<div class="modal fade" id="modalAddExperience" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter un projet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action="{{ path('professional_experiences') }}" method="post" enctype="multipart/form-data">
                    <div style="margin: 0 30px">
                        <div class="form-group">
                            <label for="title">Titre</label>
                            <input type="text" name="title" id="title" class="form-control" placeholder="Titre...">
                        </div>

                        <div class="form-group">
                            <label for="dated">Date</label>
                            <input type="text" name="dated" id="dated" class="form-control" placeholder="De quand à quand...">
                        </div>

                        <div class="form-group">
                            <label for="icone">Icône</label>
                            <input type="file" name="icone" id="icone" class="form-control" placeholder="Photo...">
                        </div>

                    </div>
                    <div class="modal-footer">
                        {#<a href="{{ path('editAboutUs') }}">#}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-theme btn-small" type="submit">Ajouter</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>